<!doctype html>
<html lang="en">

<%- include('common/header'); %>

    <body>

        <table class="table">
            <thead>
                <tr>
                    <th>2020 Teams</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td><img src="Williams_F1.png" alt="Williams_F1" /></td>
                    <td><img src="Alfa-Romeo.png" alt="Alfa-Romeo" /></td>
                    <td><img src="Alpine_F1.png" alt="Alpine" /></td>
                    <td><img src="Aston_Martin_Logo.png" alt="Aston_Martin_Logo" /></td>
                    <td><img src="Scuderia_Alpha-Tauri.png" alt="Aston_Martin_Logo" /></td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td scope="row"></td>
                    <td><img src="Haas_F1.png" alt="Hass" /></td>
                    <td><img src="McLaren_Racing_logo.png" alt="Mclaren" /></td>
                    <td><img src="mercedes-benz.png" alt="Mercedes" /></td>
                    <td><img src="Scuderia_Ferrari.png" alt="Ferrari" /></td>
                    <td><img src="Red-Bull-Logo.png" alt="Redbull" /></td>

                </tr>

            </tbody>
        </table>


        <!--<script></script>-->
    </body>

</html>